[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pygame = "*"
lightsout = {path = "./dist/lightsout-0.1.0.tar.gz"}

[dev-packages]
pytest = "*"

[requires]
python_version = "3.9"
